
@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    #{$property}: $value;
  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  