nav {
    width: 100%;
    position: relative;
    box-shadow: 1px 1px 20px #535354;
    position: sticky;
    top: 0;
    background-color: #6ca0db;
    z-index: 88;
  
    .nav-container {
      width: 96.5%;
      margin: auto;
  
      .nav-list {
        .list {
          display: flex;
          justify-content: center;
  
          .nav-item {
            padding: 25px 20px;
  
            &.active {
              .nav-link {
                color: #2913a7 !important;
              }
            }
  
            .nav-link {
              font-size: 16px;
              color: #fff;
              font-weight: 600;
              transition: color 0.5s;
  
              &:hover {
                color: #2913a7;
              }
            }
          }
        }
      }
    }
  }
  