@use 'btn';
@use 'population';
@import 'variables';
@import 'mixins';
@import 'nav';

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: $primary-color;
  font-family: $font-family;
}

.header-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

    .header-content {
      width: 65%;

      .header-title {
        font-size: 75px;
        font-weight: $font-weight-bold;
        line-height: 1.2;
        color: $accent-color;
        margin-bottom: 26px;
        animation: contentLeft 2s;
      }

      .header-para {
        color: $primary-light-color;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5%;
        animation: contentLeft 2s;
      }
    }
  }
}

.me {
  @extend .header-section;
  background-image: url("../images/background.png");

  .header-content {
    margin: auto;
    width: 70%;
    text-align: center;
  }

  .header-para {
    width: 100%;
    text-align: center;
  }
}

.uni {
  @extend .header-section;
  background-image: url("../images/bzu.png");
}

.city {
  @extend .header-section;
  background-image: url("../images/house.png");
}


.about-sec {
  color: $accent-color;
  background-color: $primary-bg-color;
  margin-top: 20px; 

  .container {
    .row {
      display: flex;
      align-items: center; 
      justify-content: space-between; 
      flex-wrap: wrap; 
    }
  }
}

.about-content {
  flex: 1; 
  max-width: 50%; 

  .about-title {
    color: $accent-color;
    margin-bottom: 40px;
    font-size: 56px;
    font-weight: $font-weight-bold;
  }

  .about-para {
    margin-bottom: 50px;
    font-size: 17px;
    font-family: $font-family-roboto;
    line-height: 30px;
    font-weight: $font-weight-normal;
  }
}

.about-img {
  flex: 1; 
  max-width: 50%; 

  img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
}


.images-sec {
  background-color: $primary-color;
  padding: 40px;

  figure {
    text-align: center;

    p {
      font-size: 18px;
      color: $primary-light-color;
      margin: 10px 0;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    figcaption {
      font-style: italic;
      color: #11437c;
    }
  }
}

.skills-sec {
  background-color: $primary-bg-color;
  padding: 40px 0;

  .container {
    text-align: center;

    .skills-title {
      font-size: 2em;
      font-weight: bold;
      color: $accent-color;
      margin-bottom: 30px;
    }

    .row {
      display: flex;
      justify-content: space-around;

      .skills-box {
        width: 30%;

        .box-img {
          overflow: hidden;
          border: 2px solid $accent-color;

          img {
            width: 100%;
            transition: transform 0.5s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .box-details {
          margin-top: 20px;

          .box-name {
            color: $accent-color;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  background-color: #333;
  color: $primary-light-color;
  text-align: center;
  padding: 20px 0;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  a {
    color: #00e1ff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

/* General styles */

body {
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}



#welcome-message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff; 
}

header.home {
  background-color:$primary-bg-color;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .overlay {
    background-color:$primary-bg-color;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    width: 600px;
    background-color: $primary-bg-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-content {
      text-align: center;

      .header-title {
        font-size: 36px;
      }

      .header-para {
        font-size: 20px;
        line-height: 1.5;
        color: #333;
        margin-bottom: 20px;
      }

      .btn-container {
        margin-top: 20px;
      }
    }
  }
}
