$primary-color: #6ca0db;
$accent-color: #2913a7;
$font-family: "Josefin Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;

$primary-text-color: #333;
$primary-bg-color: #6ca0db;
$secondary-bg-color: #222;
$tertiary-bg-color: #111;
$primary-border-color: #f1f1f1;
$primary-light-color: #fff;
$primary-dark-color: #000;
$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Poppins', sans-serif